body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color:#14110F;
    background:#EBEEF0;
}

a{
    text-decoration:none;
    color:currentColor;
}

[class*="underlinelink-"]:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 7.5%;
    position: absolute;
    background: #FA8334;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

[class*="underlinelink-"].highlighted:after{ 
    width: 100%; 
    left: 0; 
}

.underlink-logofirstline.highlighted:after
{
    left: 50%;
}

#logo
{
    font-size:2em;
    text-align:right;
    user-select:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    max-width:fit-content;
    margin:auto;
}


#logo h1
{
    position: relative;
    margin: 0%; 
    display: inline-block;
    padding: 5px 0px;
    position: relative;
}

#logo h1:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 7.5%;
    left: 100%;
    position: absolute;
    background: #FA8334;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#logo h1.highligted:after{ 
    width: 100%; 
    left: 0; 
}

#logo-firstline h1:after
{
    left:100%;
}

#logo-secondline h1:after
{
    left: 0%;
}

#logo-period
{
    color:#FA8334;
}

#logo-period h1:after
{
    background:transparent;
}

#motto
{
    font-style:italic;
    font-size:20px;
    letter-spacing: 0.5px;
}

.navbar { 
    margin: 0 auto; 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: center;
  }

.navbar a { 
    font-size: large;
    font-style: italic;
    font-weight: 600;

    position: relative; 
    padding: 15px 0;
    display: inline-block;
    padding: 5px 0px;
    position: relative;
  }

.navbar a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 10%;
    left: 75%;
    position: absolute;
    background: #FA8334;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar a:hover:after { 
    width: 100%; 
    left: 0; 
}

#donate {
    color: #16DB93;
}
#donate:after {
    background: #16DB93;
}