body{
    text-align: center;
    font-family: Georgia;
    width: 100vw;
}

body.darkmode
{
    color:#EBEEF0;
    background:#14110F;

    transition: 1s;
}

body.lightmode
{
    color:#14110f;
    background:#EBEEF0;

    transition: 1s;
}

hr
{
    border: 1px solid;
}

a{
    text-decoration:none;
    color:currentColor;
}

[class*="underline"]:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 7.5%;
    left:100%;
    position: absolute;
    background: transparent;
    transition: width 0.3s ease 0s, left 0.3s ease 0s, background 0.3s ease 0s;
    width: 0;
}

#logo h1.highligted:after, [class*="underline"]:hover:after{ 
    background: #FA8334;
    width: 100%; 
    left: 0; 
}

.underline-right:after
{
    left:0%;
}

.noselecttext
{
    user-select:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#logo
{
    font-size: 2em;

}

#logo table
{
    text-align:right;

    height: auto;
    font-size: 2em;

    margin-left: auto;
    margin-right: auto;
}

#logo th
{
    vertical-align: bottom;
}

#logo h1
{
    margin: 0%;
    display: inline-block;
    padding: 5px 0px;
    position: relative;
}

#logo-period
{
    color:#FA8334;
    font-size: 3em;
    top: 0.05em;
}

#motto
{
    font-style:italic;
    font-size:20px;
    letter-spacing: 0.5px;
    margin-top: 2em;
}

.navbar { 
    margin: 0 auto; 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: center;
  }

.navbar a { 
    font-size: large;
    font-style: italic;
    font-weight: 600;

    display: inline-block;
    padding: 5px 0px;
    position: relative;
  }

.navbar a:after {
    height: 12.5%;
    left: 75%;
}

#donate {
    color: #16DB93;
}
#donate:hover:after {
    background: #16DB93;
}