body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
nav a {
    font-size:large;
    color:black;
    text-decoration: underline;
    font-style:italic;
    text-decoration-color: orange;
    text-decoration-thickness: 0px;

    transition: 1.5s;
}
nav a:hover {
    text-decoration-thickness: 4px; 
}