<link rel="stylesheet" href="/css/logo.css?d">
<a href="/">
    <table class="logo noselecttext" onmouseenter="logoOnMouseHover(this)" onmouseleave="logoOnMouseHover(this)">
        <tbody>
            <tr>
                <th>
                    <h1 class="logo-top underline"><span class="logo-the">THE</span> Comet</h1>

                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th>
                    <h1 class="logo-bottom underline">Progressive</h1>
                </th>
                <th>
                    <h1 class="logo-period">.</h1>
                </th>
            </tr>
        </tbody>
    </table>
    <script src="/logo.js"></script>
</a>