<link rel="stylesheet" href="css/logo.css">
<a href="?">
    <table class="logo noselecttext" onmouseenter="logoOnMouseHover(this)" onmouseleave="logoOnMouseHover(this)">
        <tbody>
            <tr>
                <th>
                    <h1 class="logo-top underline"><span class="logo-the">THE</span> Comet</h1>
                        </br>
                    <h1 class="logo-bottom underline">Progressive</h1>
                </th>
                <th>
                    <h1 class="logo-period">.</h1>
                </th>
                <script src="logo.js"></script>
            </tr>
        </tbody>
    </table>
</a>