---
layout: default
---
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"></meta>
        <title>{{ page.title }} | The Comet Progressive</title>
        <link rel="stylesheet" href="/css/topbar.css">
        <link rel="stylesheet" href="/css/article.css?">
    </head>
    <body class="lightmode">
        <div style="margin-right: auto;">{% include logo.html %}</div>

        <hr></hr>

        <nav class="navbar">
            <a class="underline" href="#">Latest</a> &#9679;
            <a class="underline" href="#">Campus Orgs</a> &#9679;
            <a class="underline" href="#" style="color: #fa8334" onclick="darkMode()">Dark/Light Mode</a> &#9679;
            <script src="/darkmode.js"></script>
            <a class="underline" id="donate" href="#">DONATE</a>
        </nav>

        <hr></hr>
        <div id="article-full-page">
            <div id="article-title">
                <h1>{{ page.title }}</h1>
                <hr>
                <h2>By {{ page.author }} | {{ page.date | date_to_string }}</h2>
            </div>
            <p id="article-excerpt"> {{ page.excerpt }} </p>
            <div id="article-thumbnail" alt="photo of {{ page.thumbnail-description }}">
                <img src="{{ page.thumbnail }}"/>
                <p>{{ page.thumbnail-description }}</p>
                <p>Credit: {{ page.thumbnail-credit }}</p>
            </div>
            

            <article>
                {{ content }}
            </article>    
        </div>
        


    </body>
</html>